body {
    padding: 0 20px;
}

.container {
    background-color: #f5f5f5;
}

.header {
    padding-left: 0;
    padding-right: 0;
}

.grid .row {
    background-color: #e8e8e8;
    margin-bottom: 10px;
    min-height: 60px;
}

.grid .grid-element {
    padding: 10px;
    background-color: #444;
    color: white;
    text-align: center;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid .controls {
    position: fixed;
    bottom: 10px;
    left: 10px;
}